<app-navbar [isAuthenticated]="isAuthenticated">
</app-navbar>

<app-search-box  [placeholder]="'Filter your List...'" [inputClass]="'form-group-inline col-xs-12 col-sm-6'" 
[searchList]="'searchList'" (filterText)="onFilterText($event)" (searchOtherList)="searchOtherList()">
</app-search-box>

<div class="row">

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let movie of (isFavorite | filterList:filterListBy)">
		<app-movie-card [movie]="movie" [heart]="heart" [filterTextLength]="filterTextLength"
		(newSearch)="updateSearch($event)" [nav]="'favorites'" 
		*ngIf="movie.poster_path"></app-movie-card>
	</div>

</div>