<app-navbar [isAuthenticated]="isAuthenticated">
</app-navbar>

<app-search-box [searchLabel]="'Find a Movie'" [placeholder]="'Search...'"
[inputClass]="'form-group-inline col-xs-12 col-sm-6'"
(filterText)="searchMovies($event)">
</app-search-box>

<div class="row"> 
 	
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let movie of isFavorite">
		<app-movie-card [movie]="movie" [heart]="heart" [filterTextLength]="filterTextLength"
		(newSearch)="updateSearch($event)"
		></app-movie-card>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let movie of notFavorite">
		<app-movie-card [movie]="movie" [filterTextLength]="filterTextLength"
		(newSearch)="updateSearch($event)"
		></app-movie-card>
	</div>
	
</div>



