<app-navbar [isAuthenticated]="isAuthenticated">
</app-navbar>
<div class="container-fluid">
	<h2>Search For Movies</h2>
	<hr>
</div>

<app-search-box 
[placeholder]="'Find a Movie...'" 
(filterText)="searchMovies($event)"
>
</app-search-box>

<div class="row"> 

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let movie of isFavorite">
		<app-movie-card [movie]="movie" [heart]="heart" [filterTextLength]="filterTextLength"
	 [nav]="'dashboard'"  
		></app-movie-card>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let movie of notFavorite">
		<app-movie-card [movie]="movie" [filterTextLength]="filterTextLength"
	 [nav]="'dashboard'"  
		></app-movie-card>
	</div>

	<div class="container" *ngIf="searchRes && searchRes.length < 1">
		<img class="img-responsive" src="../../assets/monkey.png">
	</div>
	
</div>



