<!-- sm md lg -->
<div id="movieCard" class="hidden-xs">
	<h4 id="movieTitle">{{movie.title | filterText:filterTextLength}}</h4>

	<img *ngIf="movie.poster_path" id="movieImg" class="thumbnail hidden-xs" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
	<img *ngIf="!movie.poster_path" id="movieImg" class="thumbnail hidden-xs" src="../../../../assets/noFilm.png">

	<div id="movieInfoGroup">
		<div id="movieBtnGroup">

			<button *ngIf="!heart" class="btn btn-secondary pull-right" 
			(click)="addToFavorites(movie)">Favorites
				<i class="fa fa-heart-o" aria-hidden="true"></i>
			</button>

			<button *ngIf="heart" class="btn btn-secondary pull-right" 
			(click)="removeFromFavorites(movie)">Favorites
				<i  class="fa fa-heart" aria-hidden="true" id="red"></i>
			</button>
			
			<button class="btn btn-primary pull-right" (click)="detailsPage(movie)">View</button>
		</div>
	</div>
	
</div>

<!-- xs -->
<div id="movieCardXs" class="hidden-sm hidden-md hidden-lg">
	<h4 id="movieTitleXs">{{movie.title | filterText:filterTextLength}}</h4>

	<img *ngIf="movie.poster_path" id="movieImgXs" class="thumbnail hidden-sm hidden-md hidden-lg" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
	<img *ngIf="!movie.poster_path" id="movieImgXs" class="thumbnail hidden-sm hidden-md hidden-lg"
	src="../../../../assets/noFilm.png">


	<div id="movieInfoGroupXs">
		<div id="movieBtnGroupXs">
			<button class="btn btn-secondary pull-right" (click)="addToFavorites(movie)">Favorites
				<i *ngIf="!heart" class="fa fa-heart-o" aria-hidden="true"></i>
				<i *ngIf="heart" class="fa fa-heart" aria-hidden="true" id="red"></i>
				

			</button>
			<button class="btn btn-primary pull-right" (click)="detailsPage(movie)">View</button>
		</div>
	</div>
	
</div>