/*#backgroundImg {
	 background-image: url("../../../../assets/film.jpg");
   background-repeat: repeat; 
 	background-size: 30% 30%;
 }*/

/*#infoWrapper {
	background: transparent;
	border: none;
}*/

#red {
	color: red;
}

#listInfo {
	/*padding-bottom: 3%;*/
}

#buttonGroup {
	margin-left: 1%;
	margin-top: 2%;
}