<div id="backgroundImg">
	<app-navbar [isAuthenticated]="isAuthenticated">
	</app-navbar>

	<div class="container" id="infoWrapper">
		<div class="panel panel-default" *ngIf="movie" id="infoWrapper">

		  <div class="panel-heading">
		  	<div class="row">
					<div class="col-xs-12" *ngIf="title" >
						<h2  class="text-center hidden-xs">
							<strong>{{title}}</strong>
						</h2>
						<h4 class="text-center hidden-sm hidden-md hidden-lg">
							<strong>{{title}}</strong>
						</h4>
					</div>
				</div>
			</div>


		  <div class="panel-body" id="infoWrapper">
		    <div class="row">

					<div class="col-xs-12 col-md-6">
						<img class="img-responsive img-rounded" *ngIf="poster_path"
						src="http://image.tmdb.org/t/p/w500/{{poster_path}}">
					</div>

					<div class="col-xs-12 col-md-6" id="listInfo">
						<ul class="list-group">
							<li class="list-group-item" *ngIf="original_title">
								<strong>Original Title: </strong><br><br> 
								{{original_title}}
								<br><br>
							</li>
							<li class="list-group-item" *ngIf="release_date">
								<strong>Release Date: </strong><br><br>
								{{release_date}}
								<br><br>
							</li>
							<li class="list-group-item" *ngIf="production_companies.length === 1">
								<strong>Production Company: </strong><br><br>{{production_companies}}
								<br><br>
							</li>
							<li class="list-group-item" *ngIf="production_companies.length > 1">
								<strong>Production Companies: </strong><br><br>
								<div *ngFor="let comp of production_companies">
									{{comp}}
								</div>
								<br><br>
							</li>
							<li class="list-group-item" *ngIf="vote_average">
								<strong>Rating: </strong><br><br>{{vote_average}}
								<br><br>
							</li>
							<li class="list-group-item" *ngIf="overview" >
								<strong>Description: </strong><br><br>
								{{overview}}
								<br><br>
							</li>			
							<li class="list-group-item" *ngIf="homepage">
								<strong>Home Page: </strong><br><br>
								{{homepage}}
								<br><br>
							</li>			
						</ul>
						<div id="buttonGroup">
								<button class="btn btn-primary"
									(click)="goBack()"
									>Go Back</button>
								<button *ngIf="this.heart === false"  class="btn btn-secondary" 
									(click)="addToFavorites()">Favorites
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</button>
								<button *ngIf="this.heart === true"  class="btn btn-secondary" 
									(click)="removeFromFavorites()">Favorites
									<i class="fa fa-heart" aria-hidden="true" id="red"></i>
								</button>
							</div>
					</div>

				</div>
		  </div>
		</div>

	</div>

</div>



