<div class="row container" id="searchRow">
	<div class="col-xs-12">
		<form (ngSubmit)="search()">
			<div class={{inputClass}}>
				<label>{{searchLabel}}</label>
				<div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-secondary" type="submit"
		        (click)="search()">Go!</button>
		      </span>
		      <input type="text" name="searchStr" class="form-control" placeholder={{placeholder}}
					[(ngModel)]="searchStr">
		    </div>
		   </div>
		</form>
	</div>
</div>
